<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Cansei do Vermelho, alteração de senha.</h3>
    <p>Olá, <%= @user.name %></p>
    <p>
      Você solicitou alteração da sua senha.
      Para continuar você precisa clicar no link abaixo.
    </p>
    <p>
      <%= edit_password_reset_url(@user.password_reset_token) %>
    </p>
    <p>
      Caso você não tenho solicitado alteração da senha, desconsidere esse e-mail.
    </p>
  </body>
</html>
