.login {
  background-color: #FFFFFF;
  border: 1px solid #CCC;
  box-shadow: 0 0 5px 1px #ccc;
  margin-top: 20px;
  padding: 20px;
}

#flash_alert {
  margin-top: 20px;
}

.login-title {
  border-bottom: 1px solid #ccc;
  font-weight: 200;
  text-align: center
}

.login-form {
  margin-top: 20px;
}

.field {
  margin-bottom: 10px;
}

.login-field {
  width: 100%;
}

.login-commands {
  margin-top: 10px;
}
