body {
  background: none repeat scroll 0% 0% #FBFBFB;
}

.login {
  background-color: #FFFFFF;
  border: 1px solid #CCC;
  box-shadow: 0 0 5px 1px #ccc;
  left: 50%;
  margin-left: -250px;
  padding: 20px;
  position: fixed;
  top: 20%;
  width: 500px;
}

.login-title {
  border-bottom: 1px solid #ccc;
  font-size: 40px;
  font-weight: 200;
  margin: 0px;
}

.login-title .red {
  color: red;
}

.login-field {
  width: 215px;
}