.form-container {
  background-color: #FFFFFF;
  border: 1px solid #CCC;
  box-shadow: 0 0 5px 1px #ccc;
  left: 50%;
  margin-left: -250px;
  margin-top: 10%;
  padding: 20px;
  position: relative;
  width: 500px;
}

.form-title {
  border-bottom: 1px solid #ccc;
  font-size: 40px;
  font-weight: 200;
  margin: 0px;
  text-align: center;
}

.form-subtitle {
  font-weight: 400;
}

.form {
  margin-top: 20px;
}

.form .field {
  margin-bottom: 10px;
}

.form .form-field {
  width: 100%;
}
